/* --------------------------------------------------
ユーティリティ
・変数
・mixin
・ヘルパー
-------------------------------------------------- */

/* 変数
-------------------------------------------------- */

$BREAKPOINT: 768px;

/* Mixin
-------------------------------------------------- */

@mixin pc{
  @media screen and (min-width: #{$BREAKPOINT+1}) {
   @content;
  }
}
@mixin sp{
  @media screen and (max-width: $BREAKPOINT) {
   @content;
  }
}

/* ヘルパー（クラス名は「_」から開始させること）
-------------------------------------------------- */

// 画面幅による表示 / 非表示
._pc{
  @include sp{
    display: none;
  }
}
._sp{
  @include pc{
    display: none;
  }
}
