@charset "utf-8";
@use 'inc/utility' as *;

@keyframes anim-fadeIn{
	0%{
    opacity: 0;
	}
	100%{
    opacity: 1;
	}
}

/* --------------------------------------------------
ベース
-------------------------------------------------- */

html,body{
  min-height: 100dvh;
}
html{
  font-size: 62.5%;
}
body{
  display: flex;
  flex-direction: column;
  position: relative;
  background:#fff;
  line-height: 1.6;
  color: #000;
  font-feature-settings: "palt";
  font-size: 1.6rem;
  font-weight: 400;
  animation: 0.7s ease-in 0s 1 normal forwards anim-fadeIn;
  @include sp{
    font-size: 1.4rem;
  }
}
main{
  flex-grow: 1;
}
a{
  transition: opacity 0.3s ease-out;
  text-decoration: none;
  color: #00f;
  &:focus{
    outline:none;
  }
  &:hover{
    opacity: 0.7;
  }
}
img {
  max-width: 100%;
}
strong{
  font-weight: bold;
}
textarea {
  resize: none;
  &:focus{
    outline: 0;
  }
}

/* --------------------------------------------------
セクション コンポーネント
-------------------------------------------------- */

// ヘッダ
.section-header{
  > .inner{
    display: flex;
    gap: 30px;
    margin: 0 auto;
    > .logo{
      display: flex;
      align-items: center;
    }
    > .links{
      flex-grow: 1;
      > .ecLinks{
        > ul{
          display: flex;
          gap: 10px;
          > li{
            > a{
              color: #000;
              > span{
                font-size: 30px;
              }
            }
            &.search{
              > .modal{
                // クローズ時
                &[js-state="close"]{
                  display: none;
                }
              }
            }
          }
        }
      }
      > .menu{
        > ul{
          display: flex;
          gap: 10px;
          > li{
            > a{
              color: #000;
              &:hover{
                opacity: 1;
                text-decoration: underline;
              }
            }
            // 2階層目
            > ul{
              display: none;
              > li{
                // 3階層目
                > ul{
                  display: none;
                }
              }
            }
          }
        }
      }
      // メニュー位置：中央で左寄せ、中央で右寄せ　共通
      &[menu-position="center_left"],
      &[menu-position="center_right"]{
        display: flex;
        gap: 30px;
        align-items: center;
        > .ecLinks{
          order: 2;
          margin-left: auto;
        }
        > .menu{
          order: 1;
        }
      }
      // メニュー位置：中央で右寄せ
      &[menu-position="center_right"]{
        flex-grow: 0;
        margin-left: auto;
      }
      // メニュー位置：右下
      &[menu-position="right_bottom"]{
        > .ecLinks > ul{
          justify-content: flex-end;
        }
        > .menu > ul{
          justify-content: flex-end;
        }
      }
    }
  }
}
